@model PagenatedList<Brand>
@{
    int count = (ViewBag.SelectedPage - 1) * 8;
}

<div class="container">
    <div class="row">
        <div class="col-lg-12"><a asp-action="create" class="float-right text-primary" data-bs-toggle="tooltip" data-bs-placement="left" title="Create"><i class="bi bi-plus-circle" style="font-size:24px;"></i></a></div>
        <div class="col-lg-12">

            <table class="table">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">CreatedAt</th>
                        <th scope="col">ModifiedAt</th>
                        <th scope="col">Image</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        count++;
                        <tr>
                            <th scope="row">@count</th>
                            <td>@item.Name</td>
                            <td>@item.CreatedAt</td>
                            <td>@item.ModifiedAt</td>
                            <td>
                                <div class="img-box" style="width:80px;height:90px">
                                    <img class="img-fluid" src="~/uploads/brands/@item.Image" />
                                </div>
                            </td>
                            <td>
                                <a class="btn btn-warning" asp-action="edit" asp-route-id="@item.Id" data-bs-toggle="tooltip" data-bs-placement="left" title="Edit"><i class="fa-solid fa-pen"></i></a>
                                <a class="btn btn-danger btn-delete" asp-action="delete" asp-route-id="@item.Id" data-bs-toggle="tooltip" data-bs-placement="left" title="Delete"><i class="fa-solid fa-trash-can"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <nav aria-label="Page navigation example" class="d-flex justify-content-center">
                <ul class="pagination">
                    @if (Model.HasPrev)
                    {
                        <li class="page-item">
                            <a class="page-link" asp-action="index" asp-route-page="@(Model.PageIndex-1)" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                    }
                    @for (int i = 1; i <= Model.TotalPages; i++)
                    {
                        @if (Model.PageIndex - 1 == i)
                        {
                            <li class="page-item"><a class="page-link" asp-action="index" asp-route-page="@i">@i</a></li>
                        }
                        @if (Model.PageIndex == i)
                        {
                            <li class="page-item active"><a class="page-link" asp-action="index" asp-route-page="@i">@i</a></li>
                        }
                        @if (Model.PageIndex + 1 == i)
                        {
                            <li class="page-item"><a class="page-link" asp-action="index" asp-route-page="@i">@i</a></li>
                        }

                    }
                    @if (Model.HasNext)
                    {
                        <li class="page-item">
                            <a class="page-link" asp-action="index" asp-route-page="@(Model.PageIndex+1)" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    }

                </ul>
            </nav>
        </div>
    </div>
</div>
@section Scripts{
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
}

